# Preparing Data

Use the .read() method to open the text file in read mode and assign it to the variable 'data'

In [ ]:
file = open("/content/sample_data/anscombe.json", "r")
data = file.read()
print(data)

[
  {"Series":"I", "X":10.0, "Y":8.04},
  {"Series":"I", "X":8.0, "Y":6.95},
  {"Series":"I", "X":13.0, "Y":7.58},
  {"Series":"I", "X":9.0, "Y":8.81},
  {"Series":"I", "X":11.0, "Y":8.33},
  {"Series":"I", "X":14.0, "Y":9.96},
  {"Series":"I", "X":6.0, "Y":7.24},
  {"Series":"I", "X":4.0, "Y":4.26},
  {"Series":"I", "X":12.0, "Y":10.84},
  {"Series":"I", "X":7.0, "Y":4.81},
  {"Series":"I", "X":5.0, "Y":5.68},

  {"Series":"II", "X":10.0, "Y":9.14},
  {"Series":"II", "X":8.0, "Y":8.14},
  {"Series":"II", "X":13.0, "Y":8.74},
  {"Series":"II", "X":9.0, "Y":8.77},
  {"Series":"II", "X":11.0, "Y":9.26},
  {"Series":"II", "X":14.0, "Y":8.10},
  {"Series":"II", "X":6.0, "Y":6.13},
  {"Series":"II", "X":4.0, "Y":3.10},
  {"Series":"II", "X":12.0, "Y":9.13},
  {"Series":"II", "X":7.0, "Y":7.26},
  {"Series":"II", "X":5.0, "Y":4.74},

  {"Series":"III", "X":10.0, "Y":7.46},
  {"Series":"III", "X":8.0, "Y":6.77},
  {"Series":"III", "X":13.0, "Y":12.74},
  {"Series":"III", "X":9.0, "Y":7.11},
  {"Series":"III", "X":11.0, "Y":7.81},
  {"Series":"III", "X":14.0, "Y":8.84},
  {"Series":"III", "X":6.0, "Y":6.08},
  {"Series":"III", "X":4.0, "Y":5.39},
  {"Series":"III", "X":12.0, "Y":8.15},
  {"Series":"III", "X":7.0, "Y":6.42},
  {"Series":"III", "X":5.0, "Y":5.73},

  {"Series":"IV", "X":8.0, "Y":6.58},
  {"Series":"IV", "X":8.0, "Y":5.76},
  {"Series":"IV", "X":8.0, "Y":7.71},
  {"Series":"IV", "X":8.0, "Y":8.84},
  {"Series":"IV", "X":8.0, "Y":8.47},
  {"Series":"IV", "X":8.0, "Y":7.04},
  {"Series":"IV", "X":8.0, "Y":5.25},
  {"Series":"IV", "X":19.0, "Y":12.50},
  {"Series":"IV", "X":8.0, "Y":5.56},
  {"Series":"IV", "X":8.0, "Y":7.91},
  {"Series":"IV", "X":8.0, "Y":6.89}
]

To be able to clean the data, you need to seperate the text into lines.

Use the .splitlines() method.

In [ ]:
lines = data.splitlines()
print(lines)

['[', '  {"Series":"I", "X":10.0, "Y":8.04},', '  {"Series":"I", "X":8.0, "Y":6.95},', '  {"Series":"I", "X":13.0, "Y":7.58},', '  {"Series":"I", "X":9.0, "Y":8.81},', '  {"Series":"I", "X":11.0, "Y":8.33},', '  {"Series":"I", "X":14.0, "Y":9.96},', '  {"Series":"I", "X":6.0, "Y":7.24},', '  {"Series":"I", "X":4.0, "Y":4.26},', '  {"Series":"I", "X":12.0, "Y":10.84},', '  {"Series":"I", "X":7.0, "Y":4.81},', '  {"Series":"I", "X":5.0, "Y":5.68},', '', '  {"Series":"II", "X":10.0, "Y":9.14},', '  {"Series":"II", "X":8.0, "Y":8.14},', '  {"Series":"II", "X":13.0, "Y":8.74},', '  {"Series":"II", "X":9.0, "Y":8.77},', '  {"Series":"II", "X":11.0, "Y":9.26},', '  {"Series":"II", "X":14.0, "Y":8.10},', '  {"Series":"II", "X":6.0, "Y":6.13},', '  {"Series":"II", "X":4.0, "Y":3.10},', '  {"Series":"II", "X":12.0, "Y":9.13},', '  {"Series":"II", "X":7.0, "Y":7.26},', '  {"Series":"II", "X":5.0, "Y":4.74},', '', '  {"Series":"III", "X":10.0, "Y":7.46},', '  {"Series":"III", "X":8.0, "Y":6.77},', '  {"Series":"III", "X":13.0, "Y":12.74},', '  {"Series":"III", "X":9.0, "Y":7.11},', '  {"Series":"III", "X":11.0, "Y":7.81},', '  {"Series":"III", "X":14.0, "Y":8.84},', '  {"Series":"III", "X":6.0, "Y":6.08},', '  {"Series":"III", "X":4.0, "Y":5.39},', '  {"Series":"III", "X":12.0, "Y":8.15},', '  {"Series":"III", "X":7.0, "Y":6.42},', '  {"Series":"III", "X":5.0, "Y":5.73},', '', '  {"Series":"IV", "X":8.0, "Y":6.58},', '  {"Series":"IV", "X":8.0, "Y":5.76},', '  {"Series":"IV", "X":8.0, "Y":7.71},', '  {"Series":"IV", "X":8.0, "Y":8.84},', '  {"Series":"IV", "X":8.0, "Y":8.47},', '  {"Series":"IV", "X":8.0, "Y":7.04},', '  {"Series":"IV", "X":8.0, "Y":5.25},', '  {"Series":"IV", "X":19.0, "Y":12.50},', '  {"Series":"IV", "X":8.0, "Y":5.56},', '  {"Series":"IV", "X":8.0, "Y":7.91},', '  {"Series":"IV", "X":8.0, "Y":6.89}', ']']

In [ ]:
row = lines[1]
print(row)

  {"Series":"I", "X":10.0, "Y":8.04},

Use the .strip() method to remove the whitespaces from the edge of the string.

In [ ]:
row = row.strip(" ")
print(row)

{"Series":"I", "X":10.0, "Y":8.04},

Use the .lower() method to convert the text to lowercase

Use the .capitalize() method to capitalize the first letter

In [ ]:
row = row.lower()
print(row)

{"series":"i", "x":10.0, "y":8.04},

In [ ]:
row = row.removeprefix("{")
row = row.removesuffix("},")
row = row.replace('"',"")
print(row)

series:i, x:10.0, y:8.04

To extract the information, you need to split the sentence into words

Use the .split() method.

In [ ]:
split_row = row.split(",")
print(split_row)

['series:i', ' x:10.0', ' y:8.04']

In [ ]:
series = split_row[0]
print(series)

series:i

In [ ]:
series = series.split("series:")[1]
print(series)

i

In [ ]:
x = split_row[1]
print(x)

 x:10.0

In [ ]:
x = x.split("x:")[1]
print(x)

10.0

In [ ]:
for i in split_row:
  if "y:" in i:
    y = i.split("y:")[1]

print(y)

8.04

In [ ]:
y_index = split_row.index(" y:8.04")
print(y_index)

2

In [ ]:
print("Series: ", series)
print("x: ", x)
print("y: ", y)

Series:  i
x:  10.0
y:  8.04

In [ ]:
print("Series type: ", type(series))
print("x type: ", type(x))
print("y type: ", type(y))

Series type:  <class 'str'>
x type:  <class 'str'>
y type:  <class 'str'>

In [ ]:
x = float(x)
y = float(y)

In [ ]:
print("Series type: ", type(series))
print("x type: ", type(x))
print("y type: ", type(y))
print("\n")
print("Series: ", series)
print("x: ", x)
print("y: ", y)

Series type:  <class 'str'>
x type:  <class 'float'>
y type:  <class 'float'>


Series:  i
x:  10.0
y:  8.04

In [ ]:
series_values = []
x_values = []
y_values = []

In [ ]:
def clean_extract(lines):
  for values in lines:
    values = values.strip(" \n")
    values = values.lower()
    values = values.removeprefix("{")
    values = values.removesuffix("},")
    values = values.removesuffix("}")
    values = values.replace('"', "")
    values = values.replace("[", "")
    values = values.replace("]", "")

    if values:
      split_values = values.split(", ")
      series = split_values[0].split("series:")[1]
      x = float(split_values[1].split("x:")[1])
      y = float(split_values[2].split("y:")[1])

      series_values.append(series)
      x_values.append(x)
      y_values.append(y)
  return series_values, x_values, y_values

In [ ]:
series_values, x_values, y_values = clean_extract(lines)

print("Series: ", series_values)
print("x: ", x_values)
print("y: ",y_values)

Series:  ['i', 'i', 'i', 'i', 'i', 'i', 'i', 'i', 'i', 'i', 'i', 'ii', 'ii', 'ii', 'ii', 'ii', 'ii', 'ii', 'ii', 'ii', 'ii', 'ii', 'iii', 'iii', 'iii', 'iii', 'iii', 'iii', 'iii', 'iii', 'iii', 'iii', 'iii', 'iv', 'iv', 'iv', 'iv', 'iv', 'iv', 'iv', 'iv', 'iv', 'iv', 'iv', 'i', 'i', 'i', 'i', 'i', 'i', 'i', 'i', 'i', 'i', 'i', 'ii', 'ii', 'ii', 'ii', 'ii', 'ii', 'ii', 'ii', 'ii', 'ii', 'ii', 'iii', 'iii', 'iii', 'iii', 'iii', 'iii', 'iii', 'iii', 'iii', 'iii', 'iii', 'iv', 'iv', 'iv', 'iv', 'iv', 'iv', 'iv', 'iv', 'iv', 'iv', 'iv']
x:  [10.0, 8.0, 13.0, 9.0, 11.0, 14.0, 6.0, 4.0, 12.0, 7.0, 5.0, 10.0, 8.0, 13.0, 9.0, 11.0, 14.0, 6.0, 4.0, 12.0, 7.0, 5.0, 10.0, 8.0, 13.0, 9.0, 11.0, 14.0, 6.0, 4.0, 12.0, 7.0, 5.0, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0, 19.0, 8.0, 8.0, 8.0, 10.0, 8.0, 13.0, 9.0, 11.0, 14.0, 6.0, 4.0, 12.0, 7.0, 5.0, 10.0, 8.0, 13.0, 9.0, 11.0, 14.0, 6.0, 4.0, 12.0, 7.0, 5.0, 10.0, 8.0, 13.0, 9.0, 11.0, 14.0, 6.0, 4.0, 12.0, 7.0, 5.0, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0, 19.0, 8.0, 8.0, 8.0]
y:  [8.04, 6.95, 7.58, 8.81, 8.33, 9.96, 7.24, 4.26, 10.84, 4.81, 5.68, 9.14, 8.14, 8.74, 8.77, 9.26, 8.1, 6.13, 3.1, 9.13, 7.26, 4.74, 7.46, 6.77, 12.74, 7.11, 7.81, 8.84, 6.08, 5.39, 8.15, 6.42, 5.73, 6.58, 5.76, 7.71, 8.84, 8.47, 7.04, 5.25, 12.5, 5.56, 7.91, 6.89, 8.04, 6.95, 7.58, 8.81, 8.33, 9.96, 7.24, 4.26, 10.84, 4.81, 5.68, 9.14, 8.14, 8.74, 8.77, 9.26, 8.1, 6.13, 3.1, 9.13, 7.26, 4.74, 7.46, 6.77, 12.74, 7.11, 7.81, 8.84, 6.08, 5.39, 8.15, 6.42, 5.73, 6.58, 5.76, 7.71, 8.84, 8.47, 7.04, 5.25, 12.5, 5.56, 7.91, 6.89]

In [ ]:
print(len(series_values))

88

In [ ]:
IDs = list(range(0,88))
print(IDs)
print(len(IDs))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87]
88

In [ ]:
dictionary1 = dict(zip(IDs, series_values))
print(dictionary1)

{0: 'i', 1: 'i', 2: 'i', 3: 'i', 4: 'i', 5: 'i', 6: 'i', 7: 'i', 8: 'i', 9: 'i', 10: 'i', 11: 'ii', 12: 'ii', 13: 'ii', 14: 'ii', 15: 'ii', 16: 'ii', 17: 'ii', 18: 'ii', 19: 'ii', 20: 'ii', 21: 'ii', 22: 'iii', 23: 'iii', 24: 'iii', 25: 'iii', 26: 'iii', 27: 'iii', 28: 'iii', 29: 'iii', 30: 'iii', 31: 'iii', 32: 'iii', 33: 'iv', 34: 'iv', 35: 'iv', 36: 'iv', 37: 'iv', 38: 'iv', 39: 'iv', 40: 'iv', 41: 'iv', 42: 'iv', 43: 'iv', 44: 'i', 45: 'i', 46: 'i', 47: 'i', 48: 'i', 49: 'i', 50: 'i', 51: 'i', 52: 'i', 53: 'i', 54: 'i', 55: 'ii', 56: 'ii', 57: 'ii', 58: 'ii', 59: 'ii', 60: 'ii', 61: 'ii', 62: 'ii', 63: 'ii', 64: 'ii', 65: 'ii', 66: 'iii', 67: 'iii', 68: 'iii', 69: 'iii', 70: 'iii', 71: 'iii', 72: 'iii', 73: 'iii', 74: 'iii', 75: 'iii', 76: 'iii', 77: 'iv', 78: 'iv', 79: 'iv', 80: 'iv', 81: 'iv', 82: 'iv', 83: 'iv', 84: 'iv', 85: 'iv', 86: 'iv', 87: 'iv'}

In [ ]:
dictionary2 = dict(zip(x_values, y_values))
print(dictionary2)

{10.0: 7.46, 8.0: 6.89, 13.0: 12.74, 9.0: 7.11, 11.0: 7.81, 14.0: 8.84, 6.0: 6.08, 4.0: 5.39, 12.0: 8.15, 7.0: 6.42, 5.0: 5.73, 19.0: 12.5}

In [ ]:
sorted_dictionary = sorted(dictionary2)[0:3]

print(sorted_dictionary)

for i in sorted_dictionary:
  print(dictionary2[i])

[4.0, 5.0, 6.0]
5.39
5.73
6.08

In [ ]:
sorted_dictionary = sorted(dictionary2, reverse=True)[0:3]
print(sorted_dictionary)

for i in sorted_dictionary:
  print(dictionary2[i])

[19.0, 14.0, 13.0]
12.5
8.84
12.74

# Processing Data

In [132]:
import numpy as np

In [155]:
data = np.array([], dtype=int)

In [156]:
def append_x_values(x_list):
  global data
  print(x_list)
  for i in x_list:
    data = np.append(data, x_values.index(i))

In [157]:
def append_performance_measures(feature_list):
  global data
  data = np.append(data, feature_list)

In [158]:
append_x_values(x_values)
append_performance_measures(y_values)

print(data)
print(data.shape)

[10.0, 8.0, 13.0, 9.0, 11.0, 14.0, 6.0, 4.0, 12.0, 7.0, 5.0, 10.0, 8.0, 13.0, 9.0, 11.0, 14.0, 6.0, 4.0, 12.0, 7.0, 5.0, 10.0, 8.0, 13.0, 9.0, 11.0, 14.0, 6.0, 4.0, 12.0, 7.0, 5.0, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0, 19.0, 8.0, 8.0, 8.0, 10.0, 8.0, 13.0, 9.0, 11.0, 14.0, 6.0, 4.0, 12.0, 7.0, 5.0, 10.0, 8.0, 13.0, 9.0, 11.0, 14.0, 6.0, 4.0, 12.0, 7.0, 5.0, 10.0, 8.0, 13.0, 9.0, 11.0, 14.0, 6.0, 4.0, 12.0, 7.0, 5.0, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0, 19.0, 8.0, 8.0, 8.0]
[ 0.    1.    2.    3.    4.    5.    6.    7.    8.    9.   10.    0.
  1.    2.    3.    4.    5.    6.    7.    8.    9.   10.    0.    1.
  2.    3.    4.    5.    6.    7.    8.    9.   10.    1.    1.    1.
  1.    1.    1.    1.   40.    1.    1.    1.    0.    1.    2.    3.
  4.    5.    6.    7.    8.    9.   10.    0.    1.    2.    3.    4.
  5.    6.    7.    8.    9.   10.    0.    1.    2.    3.    4.    5.
  6.    7.    8.    9.   10.    1.    1.    1.    1.    1.    1.    1.
 40.    1.    1.    1.    8.04  6.95  7.58  8.81  8.33  9.96  7.24  4.26
 10.84  4.81  5.68  9.14  8.14  8.74  8.77  9.26  8.1   6.13  3.1   9.13
  7.26  4.74  7.46  6.77 12.74  7.11  7.81  8.84  6.08  5.39  8.15  6.42
  5.73  6.58  5.76  7.71  8.84  8.47  7.04  5.25 12.5   5.56  7.91  6.89
  8.04  6.95  7.58  8.81  8.33  9.96  7.24  4.26 10.84  4.81  5.68  9.14
  8.14  8.74  8.77  9.26  8.1   6.13  3.1   9.13  7.26  4.74  7.46  6.77
 12.74  7.11  7.81  8.84  6.08  5.39  8.15  6.42  5.73  6.58  5.76  7.71
  8.84  8.47  7.04  5.25 12.5   5.56  7.91  6.89]
(176,)

In [162]:
data = data.reshape(4,44)

print(data)
print(data.shape)

[[ 0.    1.    2.    3.    4.    5.    6.    7.    8.    9.   10.    0.
   1.    2.    3.    4.    5.    6.    7.    8.    9.   10.    0.    1.
   2.    3.    4.    5.    6.    7.    8.    9.   10.    1.    1.    1.
   1.    1.    1.    1.   40.    1.    1.    1.  ]
 [ 0.    1.    2.    3.    4.    5.    6.    7.    8.    9.   10.    0.
   1.    2.    3.    4.    5.    6.    7.    8.    9.   10.    0.    1.
   2.    3.    4.    5.    6.    7.    8.    9.   10.    1.    1.    1.
   1.    1.    1.    1.   40.    1.    1.    1.  ]
 [ 8.04  6.95  7.58  8.81  8.33  9.96  7.24  4.26 10.84  4.81  5.68  9.14
   8.14  8.74  8.77  9.26  8.1   6.13  3.1   9.13  7.26  4.74  7.46  6.77
  12.74  7.11  7.81  8.84  6.08  5.39  8.15  6.42  5.73  6.58  5.76  7.71
   8.84  8.47  7.04  5.25 12.5   5.56  7.91  6.89]
 [ 8.04  6.95  7.58  8.81  8.33  9.96  7.24  4.26 10.84  4.81  5.68  9.14
   8.14  8.74  8.77  9.26  8.1   6.13  3.1   9.13  7.26  4.74  7.46  6.77
  12.74  7.11  7.81  8.84  6.08  5.39  8.15  6.42  5.73  6.58  5.76  7.71
   8.84  8.47  7.04  5.25 12.5   5.56  7.91  6.89]]
(4, 44)

In [163]:
print(data[0])

[ 0.  1.  2.  3.  4.  5.  6.  7.  8.  9. 10.  0.  1.  2.  3.  4.  5.  6.
  7.  8.  9. 10.  0.  1.  2.  3.  4.  5.  6.  7.  8.  9. 10.  1.  1.  1.
  1.  1.  1.  1. 40.  1.  1.  1.]

In [173]:
print(data[3,7])

4.26

In [180]:
def calculate_performance(serie):
  idx = series_values.index(serie)
  x = data[1,idx]
  y = data[2,idx]

  score = x+y

  return score

In [186]:
print(calculate_performance(series_values[80]))

7.58

In [194]:
performance_scores = []

for serie in series_values:
  score = int(calculate_performance(serie))
  performance_scores.append(score)

print(performance_scores)

[8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7]

In [196]:
performance_scores = np.array(performance_scores[:44])
data = np.concatenate((data, [performance_scores]), axis=0)
print(data)

[[ 0.    1.    2.    3.    4.    5.    6.    7.    8.    9.   10.    0.
   1.    2.    3.    4.    5.    6.    7.    8.    9.   10.    0.    1.
   2.    3.    4.    5.    6.    7.    8.    9.   10.    1.    1.    1.
   1.    1.    1.    1.   40.    1.    1.    1.  ]
 [ 0.    1.    2.    3.    4.    5.    6.    7.    8.    9.   10.    0.
   1.    2.    3.    4.    5.    6.    7.    8.    9.   10.    0.    1.
   2.    3.    4.    5.    6.    7.    8.    9.   10.    1.    1.    1.
   1.    1.    1.    1.   40.    1.    1.    1.  ]
 [ 8.04  6.95  7.58  8.81  8.33  9.96  7.24  4.26 10.84  4.81  5.68  9.14
   8.14  8.74  8.77  9.26  8.1   6.13  3.1   9.13  7.26  4.74  7.46  6.77
  12.74  7.11  7.81  8.84  6.08  5.39  8.15  6.42  5.73  6.58  5.76  7.71
   8.84  8.47  7.04  5.25 12.5   5.56  7.91  6.89]
 [ 8.04  6.95  7.58  8.81  8.33  9.96  7.24  4.26 10.84  4.81  5.68  9.14
   8.14  8.74  8.77  9.26  8.1   6.13  3.1   9.13  7.26  4.74  7.46  6.77
  12.74  7.11  7.81  8.84  6.08  5.39  8.15  6.42  5.73  6.58  5.76  7.71
   8.84  8.47  7.04  5.25 12.5   5.56  7.91  6.89]
 [ 8.    8.    8.    8.    8.    8.    8.    8.    8.    8.    8.    9.
   9.    9.    9.    9.    9.    9.    9.    9.    9.    9.    7.    7.
   7.    7.    7.    7.    7.    7.    7.    7.    7.    7.    7.    7.
   7.    7.    7.    7.    7.    7.    7.    7.  ]
 [ 8.    8.    8.    8.    8.    8.    8.    8.    8.    8.    8.    9.
   9.    9.    9.    9.    9.    9.    9.    9.    9.    9.    7.    7.
   7.    7.    7.    7.    7.    7.    7.    7.    7.    7.    7.    7.
   7.    7.    7.    7.    7.    7.    7.    7.  ]]

In [199]:
ids_max = np.argmax(data[3])
ids_min = np.argmin(data[3])

print(f"Max: {ids_max} Min: {ids_min}")

Max: 24 Min: 18