# Health Insurance

In [16]:
class HealthInsurance:
  def __init__(self, company_name, foundation_year, founder_name, company_slogan, num_of_employees, num_of_clients):
    self.company_name = company_name
    self.foundation_year = foundation_year
    self.founder_name = founder_name
    self.company_slogan = company_slogan
    self.num_of_employees = num_of_employees
    self.num_of_clients = num_of_clients

  def print_report(self):
    print(f"""The company {self.company_name} was founded in {self.foundation_year}.
    The founder of the company is {self.founder_name}.
    Company slogan: {self.company_slogan}
    Number of emplooyes: {self.num_of_employees}
    Number of client: {self.num_of_clients}""")

  def sup_health_insurance(self, age, chronic_disease, income):
    if age >= 60 and chronic_disease == True and income < 6000:
      print("We are sorry! You are not eligible for supplemental health insurance.")
    elif age < 60 and income >= 6000 or chronic_disease == False:
      print("Congratulations! You can get supplemental health insurance.")

  def update_num_clients(self, new_number):
    self.num_of_clients = new_number
    print(f"Number of clients has been changed to {self.num_of_clients}")

In [17]:
HI_company1 = HealthInsurance("Healthy", 2012, "Bob Mayer", "We care for you.", 3500, 13230)

In [18]:
HI_company1.sup_health_insurance(45, False, 5000)

Congratulations! You can get supplemental health insurance.

In [19]:
HI_company1.update_num_clients(13231)

Number of clients has been changed to 13231

In [20]:
HI_company1.print_report()

The company Healthy was founded in 2012.
    The founder of the company is Bob Mayer.
    Company slogan: We care for you.
    Number of emplooyes: 3500
    Number of client: 13231

# Logistic

In [21]:
class Logistic:
  def __init__(self, company_name, foundation_year, founder_name, company_slogan, inventory_space):
    self.company_name = company_name
    self.foundation_year = foundation_year
    self.founder_name = founder_name
    self.company_slogan = company_slogan
    self.inventory_space = inventory_space

  def print_report(self):
    print(f"""
    The compant name is {self.company_name} and was founded in {self.foundation_year}.
    The founder of the company is {self.founder_name}.
    Company slogan: {self.company_slogan}
    Inventory space of the company: {self.inventory_space}""")

  def update_inventory_space(self, new_storage_space):
    self.inventory_space = new_storage_space
    print(f"Inventory space has been changed to {self.inventory_space}")

In [22]:
logistic_company1 = Logistic("LogCom", 1990, "Laura McCartey", "There is no place we cannot reach.", 2500)

In [23]:
logistic_company1.update_inventory_space(3000)
logistic_company1.print_report()

Inventory space has been changed to 3000

    The compant name is LogCom and was founded in 1990.
    The founder of the company is Laura McCartey.
    Company slogan: There is no place we cannot reach.
    Inventory space of the company: 3000

# Trading

In [24]:
class Trading:
  def __init__(self, company_name, foundation_year, founder_name, company_slogan, sales, expenses, revenue):
    self.company_name = company_name
    self.foundation_year = foundation_year
    self.founder_name = founder_name
    self.company_slogan = company_slogan
    self.sales = sales
    self.expenses = expenses
    self.revenue = revenue

  def print_report(self):
    print(f"""
     The compant name is {self.company_name} and was founded in {self.foundation_year}.
     The founder of the company is {self.founder_name}.
     Company slogan: {self.company_slogan}
     Total sales: {self.sales}
     Total expenses: {self.expenses}
     Total revenue: {self.revenue}""")

  def update_sales_and_expenses(self, new_sales, new_expenses):
    self.sales += new_sales
    self.expenses += new_expenses
    print("Sales and expenses are updated")

  def calculate_revenue(self):
    self.revenue = self.sales - self.expenses
    print(f"The revenue of the company is: {self.revenue}")

In [25]:
trading_company1 = Trading("TraCom", 2005, "Chong Mu", "We revolutionize trading.", 5000, 2000, 3000)

In [26]:
trading_company1.update_sales_and_expenses(100, 50)

Sales and expenses are updated

In [27]:
trading_company1.calculate_revenue()

The revenue of the company is: 3050

In [28]:
trading_company1.print_report()

     The compant name is TraCom and was founded in 2005.
     The founder of the company is Chong Mu.
     Company slogan: We revolutionize trading.
     Total sales: 5100
     Total expenses: 2050
     Total revenue: 3050

# NumPy

In [29]:
!pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (2.0.2)

In [30]:
import numpy as np

In [31]:
array = np.array([1,2,3,4,5])

In [32]:
print(type(array))

<class 'numpy.ndarray'>

In [33]:
revenues = [1234,6234,73846,54763,56097,3242,345345,567,7868,897,9788,7867,4352,68045,2345]

In [34]:
import time

initial_time = time.time()

sum = 0

for i in revenues:
  sum += i

print(sum)
termination_time = time.time()

print("Execution Time: ", termination_time - initial_time)

642490
Execution Time:  0.0011088848114013672

In [35]:
arr = np.array(revenues)
initial_time = time.time()

sum = arr.sum()
print(sum)

termination_time = time.time()
print("Execution Time: ", termination_time - initial_time)

642490
Execution Time:  0.0006165504455566406

In [36]:
x = ["Ben", 500, "Jake", "Liz", 6000]
print(x)

for i in x:
  print(type(i))

['Ben', 500, 'Jake', 'Liz', 6000]
<class 'str'>
<class 'int'>
<class 'str'>
<class 'str'>
<class 'int'>

In [37]:
arrayx = np.array(x)
print(arrayx)

for i in arrayx:
  print(type(i))

['Ben' '500' 'Jake' 'Liz' '6000']
<class 'numpy.str_'>
<class 'numpy.str_'>
<class 'numpy.str_'>
<class 'numpy.str_'>
<class 'numpy.str_'>

In [38]:
array2 = np.array([[1,2,3],[4,5,6]])
print(array2)

[[1 2 3]
 [4 5 6]]

In [39]:
array2.ndim # how many dimentions in the array

2

In [40]:
array2.shape # how many elements in each rows

(2, 3)

In [41]:
array2.size # how many variables in the array

6

# Pandas

In [42]:
import pandas as pd

In [43]:
my_series = pd.Series([10, 27, 32, 41, 5])

In [44]:
my_series.size # how many elements inside the series

5

In [45]:
my_series.ndim # dimensions of the series

1

In [46]:
my_series.head(2) # specified number of elements at the beginning of the series

0    10
1    27
dtype: int64

In [47]:
my_series.head()

0    10
1    27
2    32
3    41
4     5
dtype: int64

In [48]:
my_series.tail(2) # specified number of elements at the end of the series

3    41
4     5
dtype: int64

In [49]:
my_series.tail()

0    10
1    27
2    32
3    41
4     5
dtype: int64

In [50]:
my_series[2]

np.int64(32)

In [51]:
my_series[1:4]

1    27
2    32
3    41
dtype: int64

## Dataframes

In [52]:
numbers = [[1, 2, 39, 67, 90], [1, 2, 39, 67, 90]]

In [53]:
df = pd.DataFrame(numbers)

In [54]:
print(df)

   0  1   2   3   4
0  1  2  39  67  90
1  1  2  39  67  90

# Numpy + Pandas

In [55]:
arr = np.array([[1, 2, 39, 67, 90], [8, 12, 45, 12, 8], [2, 8, 34, 90, 102]])

In [57]:
df = pd.DataFrame(arr)

In [58]:
df.describe()

              0          1          2          3           4
count  3.000000   3.000000   3.000000   3.000000    3.000000
mean   3.666667   7.333333  39.333333  56.333333   66.666667
std    3.785939   5.033223   5.507571  40.079088   51.159880
min    1.000000   2.000000  34.000000  12.000000    8.000000
25%    1.500000   5.000000  36.500000  39.500000   49.000000
50%    2.000000   8.000000  39.000000  67.000000   90.000000
75%    5.000000  10.000000  42.000000  78.500000   96.000000
max    8.000000  12.000000  45.000000  90.000000  102.000000

In [59]:
df.describe().T

   count       mean        std   min   25%   50%   75%    max
0    3.0   3.666667   3.785939   1.0   1.5   2.0   5.0    8.0
1    3.0   7.333333   5.033223   2.0   5.0   8.0  10.0   12.0
2    3.0  39.333333   5.507571  34.0  36.5  39.0  42.0   45.0
3    3.0  56.333333  40.079088  12.0  39.5  67.0  78.5   90.0
4    3.0  66.666667  51.159880   8.0  49.0  90.0  96.0  102.0

In [61]:
# dataframe_csv = pd.read_csv("file.csv")
# dataframe_txt = pd.read_txt("file.txt")
# fataframe_xlsx = pd.read_xlsx("file.xlsx")