# Guided project 1

* **List** is a collection which is ordered and changeable. Allows duplicate members.
```
mylist = ["apple", "banana", "cherry"]
```
* **Tuple** is a collection which is ordered and unchangeable. Allows duplicate members.
```
mytuple = ("apple", "banana", "cherry")
```
* **Set** is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
```
myset = {"apple", "banana", "cherry"}
```
* **Dictionary** is a collection which is ordered** and changeable. No duplicate members.
```
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
```

## PART 1

In [283]:
my_name = "Ayse"
my_surname = "Demirel Deniz"
my_age = 29
ID_number = 123456789
where_i_live = "Turkiye"
health_insurance = True
# my_nationality = "Turkish"

**f"" is an alternative for "".format("")**

*Exp:*


```
>>> vocab = "World"
>>> "Hello {vocab}!".format(vocab = vocab)
'Hello World!'
>>> f"Hello {vocab}!"
'Hello World!'
```

In [284]:
# Write a sentence using the print function to describe yourself using the variables above in the correct data type
print(f"My name is {my_name} {my_surname}. I am {my_age} years old, I live in {where_i_live}")

My name is Ayse Demirel Deniz. I am 29 years old, I live in Turkiye

Lists are used to store multiple items in a single variable.

```
mylist = ["apple", "banana", "cherry"]
```

List items are indexed, the first item has index [0], the second item has index [1] etc.

List items are ordered, changeable, and allow duplicate values.


- When we say that lists are **ordered**, it means that the items have a defined order, and that order will not change.
If you add new items to a list, the new items will be placed at the end of the list.
- The list is **changeable**, meaning that we can change, add, and remove items in a list after it has been created.
- Since lists are indexed, lists can have items with the same value.

To determine how many items a list has, use the len() function.

List items can be of any data type.

In [285]:
item_list = ["Laptop", "Headset", "Second monitor", "Mousepad", "USB drive", "External drive"]

In [286]:
print(item_list)

['Laptop', 'Headset', 'Second monitor', 'Mousepad', 'USB drive', 'External drive']

In [287]:
mandatory_item_list = item_list[0:3]

In [288]:
optional_item_list = item_list[3:6]

In [289]:
print(mandatory_item_list)
print(optional_item_list)

['Laptop', 'Headset', 'Second monitor']
['Mousepad', 'USB drive', 'External drive']

##Â PART 2

Dictionaries are used to store data values in *key:value* pairs.

```
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
```

A dictionary is a collection which is ordered, changeable and do not allow duplicates.

When we say that dictionaries are ordered, it means that the items have a defined order, and that order will not change.

Unordered means that the items do not have a defined order, you cannot refer to an item by using an index.

Dictionaries are changeable, meaning that we can change, add or remove items after the dictionary has been created.

To determine how many items a dictionary has, use the len() function.

The values in dictionary items can be of any data type.

In [290]:
limit = 5000

In [291]:
price_sheet = {
    "Laptop": 1500,
    "Headset": 100,
    "Second monitor": 200,
    "Mousepad": 50,
    "USB drive": 70,
    "External drive": 250
}

In [292]:
cart = []

In [293]:
def add_to_cart (item, quantity):
  cart.append((item,quantity))
  item_list.remove(item)
  # print("cart: ",cart)
  # print("item_list: ",item_list)

In [294]:
def create_invoice():
  total_amount_inc_tax = 0
  # print(len(cart))
  for item, quantity in cart:
    # print("create_invoice: ", item, " - ", quantity)
    price = price_sheet[item]
    tax = 0.18 * price
    total = (tax + price) * quantity
    total_amount_inc_tax += total

    print('Item:',item,"\t","Price:",price,"\t","Quantity:",quantity,"\t","Tax:",tax,"\t","Total:",total,"\n")
    print("After the taxes are applied the total amount is","\t",total_amount_inc_tax)

  return total_amount_inc_tax

In [295]:
def checkout():
  global limit
  total_amount = create_invoice();
  if limit == 0:
    print("You don't have any budget")
  elif total_amount>limit:
    print("The amount you have to pay is above the spending limit. You have to drop some items.")
  else:
    limit -= total_amount
    print(f"The total amount (incl. taxes) you've paid is {total_amount}. You have {limit} dollars left")

In [296]:
add_to_cart("Laptop",1)
add_to_cart("Headset",3)
add_to_cart("Second monitor", 2)
add_to_cart("Mousepad", 2)
add_to_cart("USB drive",1)
add_to_cart("External drive", 1)

checkout()

Item: Laptop 	 Price: 1500 	 Quantity: 1 	 Tax: 270.0 	 Total: 1770.0

After the taxes are applied the total amount is 	 1770.0
Item: Headset 	 Price: 100 	 Quantity: 3 	 Tax: 18.0 	 Total: 354.0

After the taxes are applied the total amount is 	 2124.0
Item: Second monitor 	 Price: 200 	 Quantity: 2 	 Tax: 36.0 	 Total: 472.0

After the taxes are applied the total amount is 	 2596.0
Item: Mousepad 	 Price: 50 	 Quantity: 2 	 Tax: 9.0 	 Total: 118.0

After the taxes are applied the total amount is 	 2714.0
Item: USB drive 	 Price: 70 	 Quantity: 1 	 Tax: 12.6 	 Total: 82.6

After the taxes are applied the total amount is 	 2796.6
Item: External drive 	 Price: 250 	 Quantity: 1 	 Tax: 45.0 	 Total: 295.0

After the taxes are applied the total amount is 	 3091.6
The total amount (incl. taxes) you've paid is 3091.6. You have 1908.4 dollars left

##Â PART 3

In [297]:
import random

In [298]:
action_list =['rock','papper','scissors']

In [299]:
computer_score = 0
player_score = 0

total_rounds = input('How many rounds do you want to play? Please enter a number here: ')

round_counter = 0

while True:
  round_counter += 1
  print("Round number: ", round_counter)

  computer_choice = random.choice(action_list)
  player_choice = input('Please choose your action: ')

  print(f"Computer: {computer_choice} - Player: {player_choice}")

  if computer_choice == player_choice:
    print("Tie! Both players chose the same action.")
  elif computer_choice == "papper":
    if player_choice == "rock":
      print("Winner is: Computer")
      computer_score +=1
    else:
      print("Winner is: Player")
      player_score +=1
  elif computer_choice == "rock":
    if player_choice == "papper":
      print("Winner is: Player")
      player_score += 1
    else:
      print("Winner is: Computer")
      computer_score += 1
  elif computer_choice == "scissors":
    if player_choice == "papper":
      print("Winner is: Computer")
      computer_score += 1
    else:
      print("Winner is: Player")
      player_score += 1

  if round_counter == int(total_rounds):
    break
if computer_score == player_score:
  print(f"There is no winner, tie! Computer: {computer_score} - Player: {player_score}")
elif computer_score > player_score:
  print(f"Computer won! Computer: {computer_score} - Player: {player_score}")
elif computer_score < player_score:
  print(f"Player won! Computer: {computer_score} - Player: {player_score}")

How many rounds do you want to play? Please enter a number here: 2
Round number:  1
Please choose your action: papper
Computer: papper - Player: papper
Tie! Both players chose the same action.
Round number:  2
Please choose your action: rock
Computer: rock - Player: rock
Tie! Both players chose the same action.
There is no winner, tie! Computer: 0 - Player: 0

## PART 4

In [300]:
salesperson_revenue = {
    "Ben": 0,
    "Omer": 0,
    "Karen": 0,
    "Celine": 0,
    "Sue": 0,
    "Bora": 0,
    "Ellen": 0
}

In [301]:
def enter_revenue(name, revenue):
  global salesperson_revenue
  salesperson_revenue[name] += revenue

In [302]:
while True:
  name = input("Employee name: ")

  if name == "quit":
    break

  revenue = int(input("Enter revenue: "))
  enter_revenue(name, revenue)
  print(f"{name}'s revenue is {salesperson_revenue[name]}")

Employee name: Ben
Enter revenue: 10
Ben's revenue is 10
Employee name: Ben
Enter revenue: 10
Ben's revenue is 20
Employee name: quit

In [303]:
print(salesperson_revenue)

{'Ben': 20, 'Omer': 0, 'Karen': 0, 'Celine': 0, 'Sue': 0, 'Bora': 0, 'Ellen': 0}